* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #bebebe;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: #72767d;
}

li {
  list-style: none;
  margin-bottom: 15px;
}
/* scrollbar */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #2f3136; 
  border-radius: 100px;
}

/* General */

.main-nav .logo {
  color: #f8f8f8;
  color: rgb(137, 88, 182);
  opacity: 0.7;
  padding: 10px;
}

.settings-heading {
  color: #bebebe;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
}

.username {
  font-weight: bold;
  color: #fff;
}

.time {
  font-size: 0.7em;
  padding-top: 5px;
  color: #bebebe;
}

.main-nav .logo,
.chat-nav-top,
.chat-container input[type="text"],
.chat-container input[type="submit"] {
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);
}

.update-msg {
  padding: 10px;
  font-size: 0.8em;
  text-align: center;
  color: rgb(137, 88, 182, 0.7);
}

.chat-app {
  min-height: 100vh;
  width: 100%;
  display: flex;
}

/* Navigation */

.main-nav {
  background-color: #2f3136;
  color: #72767d;
  width: 20%;
}

.chat-rooms {
  margin-top: 20px;
}

.chat-room {
  padding: 10px;
  margin: 0 5px 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.chat-room:hover {
  background-color: #393c43;
}

.chat-room:hover a {
  color: #f8f8f8;
}

.settings {
  margin-top: 30px;
  padding: 10px;
  border-top: 1px solid #393c43;
}

.main-nav input[type="text"],
.main-nav input[type="submit"] {
  background-color:  #2f3136;
  color: #4e5157;
  border: 1px solid #4e5157;
  outline: none;
  padding: 5px;
  border-radius: 20px;
  width: 100%;
  margin-top: 10px;
}

.main-nav input[type="text"] {
  color: #bebebe;
  padding: 8px;
  border-radius: 10px;
}

.main-nav input[type="text"]:focus {
  border-color: rgb(137, 88, 182);
}

.main-nav input[type="submit"]:hover {
  cursor: pointer;
  border-color: rgb(137, 88, 182);
  color: #a7a9ac;
}

/* Chat */

.chat-container {
  background-color: #393c43;
  width: 80%;
}

.chat-nav-top {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 600;
  padding: 12.5px 20px;
  background-color: #393c43
}

.chat-main {
  padding: 20px;
}

.chat-container input[type="text"]{
  background-color:#4e5157;
  color: #bebebe;
  border: none;
  outline: none;
  padding: 15px;
  font-size: 15px;
  border-radius: 20px;
  width: 60%;
  /* overflow-wrap: break-word; */
}

.chat-container input[type="submit"]{
  padding: 15px 30px;
  font-size: 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: #2f3136;
  color: #a7a9ac;
  outline: none;
}

.chat-container input[type="submit"]:hover {
  color: #bebebe;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
}

.chat-window {
  height: 60vh;
  color: #f8f8f8;
  margin-bottom: 20px;
  overflow-y: auto;
  padding: 5px;
}

.write-msg {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-message {
  padding-top: 10px;
  width: 100%;
}
