:root {
  --primary-color: rgba(137, 88, 182, 0.7);
  --text-color-primary: #f8f8f8;
  --text-color-secondary: #bebebe;
  --main-nav-color: #2f3136;
  --main-chat-color: #393c43;
  --link-color: #72767d;
  --input-color: #4e5157;
  --user-chat-color: #fff;
  --weather-color : rgba(47, 49, 54, 0.8);
}

.lightmode {
  --primary-color: #fff;
  --text-color-primary: #000;
  --text-color-secondary: #b9b9b9;
  --main-nav-color: rgba(137, 88, 182);
  --main-nav-color: #68217a;
  --main-chat-color: #f9f4f7;
  --link-color: #cfc9c9;
  --input-color: #bebebe;
  --user-chat-color: #68217a;
  --weather-color: rgba(104, 33, 122, 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-color-secondary);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scrollbar-color: var(--main-nav-color) rgb(137, 88, 182, 0.2);
}

a {
  text-decoration: none;
  color: var(--link-color);
}

li {
  list-style: none;
  margin-bottom: 15px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgb(137, 88, 182, 0.2); 
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-nav-color);
  border-radius: 100px;
}

#hamburger {
  margin-left: 20px;
  color: var(--user-chat-color);
  display: none;
}

.d-block {
  display: block;
}

/* General */

.main-nav .logo {
  color: #f8f8f8;
  color: var(--primary-color);
  padding: 10px;
}

.settings-heading {
  color: var(--text-color-secondary);
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.display-toggle {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition-duration: 0.6s;
  padding: 10px;
  border-right: 1px solid var(--primary-color);
  height: 0%;
}

.d-show {
  opacity: 1;
  visibility: visible; 
  /* height: 230px; */
  height: 100%;
  transform: translateY(0);
}

.rotate {
  transform: rotate(90deg);
}

.settings-icon {
  margin-right: 10px;
  font-weight: bold;
  color: var(--primary-color);
  transition-duration: 0.6s;
}

.darkmode-toggle {
  margin-top: 15px;
}

.darkmode-toggle > P {
  margin-bottom: 10px;
}

.darkmode-toggle span {
  font-size: 0.9em;
  padding-left: 5px;
}

.dark-toggle-btn {
  font-weight: bold;
  cursor: pointer;
  color: var(--primary-color);
}

.username {
  font-weight: bold;
  color: var(--user-chat-color);
}

#user_name {
  color: var(--user-chat-color);
}

.time {
  font-size: 0.7em;
  padding-top: 5px;
  color: var(--text-color-secondary);
}

.main-nav .logo,
.chat-nav-top,
.chat-container input[type="text"],
.chat-container input[type="submit"],
.weather {
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);
}

.update-msg {
  padding: 10px;
  font-size: 0.8em;
  text-align: center;
  color: var(--primary-color);
}

.chat-app {
  min-height: 100vh;
  width: 100%;
  display: flex;
}

/* Navigation */

.main-nav {
  background-color: var(--main-nav-color);
  color: #72767d;
  position: fixed;
  height: 100%;
  width: 20%;
  overflow-y: auto;
}

.chat-rooms {
  margin-top: 20px;
}

.chat-room {
  padding: 10px;
  margin: 0 5px 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.chat-room {
  color: var(--link-color);
}

.chat-room:hover {
  background-color: var(--main-chat-color);
  color: var(--text-color-primary);
}

.settings {
  margin-top: 30px;
  padding: 10px;
  border-top: 1px solid var(--main-chat-color);
  color: var(--text-color-secondary);
}

.main-nav input[type="text"],
.main-nav input[type="submit"] {
  background-color:  transparent;
  color: #4e5157;
  color: var(--primary-color);
  border: 1px solid var(--input-color);
  outline: none;
  padding: 5px;
  border-radius: 20px;
  width: 100%;
  margin-top: 10px;
}

.main-nav input[type="text"] {
  color: var(--text-color-secondary);
  padding: 8px;
  border-radius: 10px;
}

.main-nav input[type="text"]:focus {
  border-color: rgb(137, 88, 182);
}

.main-nav input[type="submit"]:hover {
  cursor: pointer;
  border-color: rgb(137, 88, 182);
  color: #a7a9ac;
}

/* Chat */

.chat-container {
  background-color: var(--main-chat-color);
  width: 80%;
  position: relative;
  left: 20%;
  display: flex;
  flex-direction: column;
}

.chat-nav-top {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 600;
  padding: 12.5px 20px;
  background-color: var(--main-chat-color);
}

.chat-main {
  padding: 20px;
  height: 96%;
  height: 97%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-window {
  height: 75vh;
  color: var(--text-color-primary);
  overflow-y: auto;
  padding: 5px;
}

.write-msg {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-message {
  width: 100%;
}

.chat-container input[type="text"]{
  background-color:var(--input-color);
  color: var(--text-color-primary);
  border: none;
  outline: none;
  padding: 15px;
  font-size: 15px;
  border-radius: 20px;
  width: 60%;
  /* overflow-wrap: break-word; */
}

.chat-container input[type="submit"]{
  padding: 15px 30px;
  font-size: 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: var(--main-nav-color);
  color: var(--primary-color);
  outline: none;
}

.chat-container input[type="submit"]:hover {
  color: var(--text-color-secondary);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
}

.weather {
  position: fixed;
  bottom: 15px;
  right: 15px;
  padding: 20px;
  border-top: 1px solid var(--main-chat-color);
  color: var(--primary-color);
  background-color: var(--weather-color);
  border-radius: 50%;
  font-size: 0.7em;
  background-repeat: no-repeat;
  background-position: right bottom;
}

#temp-icon {
  width: 70%;
  height: auto;
}

.temp {
  font-weight: bold;
}
